@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Martian+Mono:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #0d0b13;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.contact-base-gradient {
  background: linear-gradient(
    0deg,
    hsla(189, 48%, 41%, 1) 0%,
    hsla(248, 40%, 29%, 1) 50%,
    hsla(255, 27%, 6%, 1) 100%
  );
}

/* slide animations */

.slide-left-enter {
  transform: translateX(-100%);
  transition: transform 600ms ease-in;
}
.slide-right-enter {
  transform: translateX(100%);
  transition: transform 600ms ease-in;
}
.slide-none-enter {
  transform: translateX(0%);
}

.slide-right-enter-active {
  transform: translateX(0%);
  transition: transform 600ms ease-out;
}
.slide-left-enter-active {
  transform: translateX(0%);
  transition: transform 600ms ease-out;
}

.slide-none-enter-active {
  transform: translateX(0%);
  transition: transform 600ms ease-out;
}

.slide-left-exit {
  transform: translateX(0%);
}
.slide-right-exit {
  transform: translateX(0%);
}
.slide-none-exit {
  transform: translateX(0%);
}

.slide-left-exit-active {
  opacity: 0;
  transition: all 300ms ease-out;
}

.slide-right-exit-active {
  opacity: 0;
  transition: all 300ms ease-out;
}
.slide-none-exit-active {
  opacity: 0;
  transition: all 300ms ease-out;
}

.slide-container {
  width: 100%;
}

.slide-container > div {
  width: 100%;
}

/* CodePen background glow */

.contact-card {
  position: relative;
  width: 50%;
  margin: 0 auto; // Center horizontally
  line-height: 10vw;
  color: #252b37;
  background-color: #0d0b13;

  // Pseudo-element for the gradient
  &::before {
    content: "";
    position: absolute;
    opacity: 30%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(1.05);
    filter: blur(4vw);
    z-index: 0; // Place it behind the content
    background: linear-gradient(90deg, #3ee2e2, #ab0fff);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
  }

  @keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.contact-card .content-above-gradient {
  position: relative; // Creates a new stacking context
  z-index: 1; // Places the content above the gradient
}

.contact-email {
  animation: textColor 15s ease infinite;

  @keyframes textColor {
    0% {
      color: #ec6690;
    }
    33% {
      color: #69a0ce;
    }
    66% {
      color: #ebb049;
    }
    100% {
      color: #ec6690;
    }
  }
}

.computer-science-background {
  position: relative;
  line-height: 10vw;
  color: #252b37;
  background-color: #0d0b13;

  // Pseudo-element for the gradient
  &::before {
    content: "";
    position: absolute;
    opacity: 30%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0.9);
    filter: blur(2vw);
    z-index: 0; // Place it behind the content
    background: linear-gradient(270deg, #0d0b13, #4161a7, #0d0b13);
    background-size: 200% 50%;
    animation: animateGlow2 20s ease-in infinite;
  }

  @keyframes animateGlow2 {
    0% {
      background-position: 200% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}

.computer-science-background .content-above-gradient {
  position: relative; // Creates a new stacking context
  z-index: 1; // Places the content above the gradient
}
